html, body {
    margin: 0px;
    padding: 0px;
}

hr {
  color: white;
}

#navigation {
    background-color: #263F44;
    color: white;
    text-align: center;
}

.hook {
    font-size: 3rem;
    font-weight: bolder;
}

.navbar {
    padding-bottom: 2.5rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: lighter;
}

#introduction {
    background-color: #263F44;
    color: white;
    text-align: center;
}

.col {
    padding: 5%;
}

img {
    opacity: 0.5;
}

img:hover {
    opacity: 1.0;
}

#features {
    padding: 3% 10%;
}

.feature-box {
    padding: 5%;
    text-align: center;
}

.icon {
    color:  #263F44;
    opacity: 0.7;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.icon:hover {
    opacity: 1.0;
}

h2 {
    font-weight: bolder;
    margin-bottom: 1rem;
}

#testimonials {
    background-color: #263F44;
    text-align: center;
    color: white;
}

.carousel-item {
    padding: 15%, 15%;
}

#sellingStuff {
    padding: 5% 5%;
    text-align: center;
}

.card {
    margin-bottom: 2rem;
}

.price-cards {
    padding: 75px;
}

@media (max-width: 900px){
    h1 {
        font-size: 1.5rem;
    }
    h2 {
      font-size: 1rem;
    }

}
